.mention {
  color: gray;
}

.hashtag {
  color: red;
}

/*We have to make the body and the container both 100%, so that you can click any
where in the body and get a cursor.*/
body {
  width: 100%;
  height: 100vh;
  margin: 0px;

  outline: 2px red;
  font-family: Lucida Bright;
  font-size: 12px;
  font-weight: regular;
}

#container {
  position: relative;
  height: 100%;
  width: 100%;
}

#prompt-text {
  color: grey;
  /*opacity: .5;*/
  /*position: absolute;*/
  /*bottom: 20%;*/
}
